@page "/collection"
@inject ITrackRepository _db 

<h1> My Collection</h1>

@if (Tracks is null)
{
    <img src="img/loading.gif" />
}
else
{
<div class="card-columns">
    @foreach (var track in Tracks)
    {
        <TrackCard Track="track" IsSelected="@(IsSelected(track))" DeleteTrack="DeleteTrack"/>
    }
</div>
    }

    @code {
        public List<Track> Tracks;
        public Track SelectedTrack { get; set; }

        protected override async Task OnInitializedAsync()
        {
            Tracks = await _db.FindAllAsync();
            SelectedTrack = await _db.FirstAsync();
        }

        private async Task DeleteTrack(Track track)
        {
            if (track.Equals(SelectedTrack))
            {
                SelectedTrack = await _db.FirstAsync();
            }
            await _db.DeleteAsync(track);
            Tracks.Remove(track);
            StateHasChanged();
        }

        private bool IsSelected(Track track)
        {
            Console.WriteLine(track);
            Console.WriteLine(SelectedTrack);
            return false;
        }
    }
