
@page "/"
<p>@(CurrentTrack?.Title)</p>
<Canvas @ref="_canvas" CurrentTrack="CurrentTrack"></Canvas>
<Palette AddNote="AddNote"></Palette>

@code {

    [CascadingParameter]
    protected Track CurrentTrack { get; set; }

    private Canvas _canvas;

    private void AddNote(Note note)
    {
        _canvas.AddNote(note);
    }
}
